<ion-view view-title="Login" class="login-background">


    <ion-content class="show-background" has-bouncing="false">
        <button class="button button-clear button-ligth " ng-controller="BackController" ng-click="myGoBackindex()">
            <i class="ion-close">  </i>
        </button>
        <form name="SignForm">
            <div class="view-wrapper">
                <div id="login-form-field" class="row">
                    <div class="col col-10"></div>
                    <div class="col col-80">
                        <div class="list signupbox">
                            <label class="item item-input item-floating-label" id="itemfrom">
                                <span class="input-label">Email</span>
                                <input type="email" name="email" ng-model="loginData.email" placeholder="Email" required>
                                <span style="color:red; font-size:9px" ng-show="SignForm.email.$dirty && SignForm.email.$invalid">     
                                 <span ng-show="SignForm.email.$error.required">
                                Email is required.</span>
                                <span ng-show="SignForm.email.$error.email">Invalid email address.</span>
                                </span>
                            </label>
                            <label class="item item-input item-floating-label" id="itemfrom">
                                <span class="input-label">Password</span>
                                <input type="password" name="password" placeholder="Password" ng-model="loginData.password" required>
                                <span style="color:red" ng-show="SignForm.password.$dirty && SignForm.password.$invalid">     
                                 <span ng-show="SignForm.password.$error.required">
                               Password is required.</span>

                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="col col-10"></div>
                </div>
                <div class="row">
                    <div class="col col-20"></div>
                    <div id="forgotpass" class="col col-60 txtlabel">
                        <a class="txtlabel" href="#"> I forgot! </a>
                        <button id="btnlogin" class="button button-block button-positive  btnlogin" ng-click="doLogin()" ng-disabled="SignForm.password.$invalid ||
  SignForm.email.$dirty && SignForm.email.$invalid">
                            <span> Login </span>
                        </button>
                    </div>
                    <div class="col col-20"></div>
                </div>
                <div id="signup-login" class="row">
                    <div class="col col-20"></div>
                    <div id="sign-up-login" class="col col-60">
                        <div class="txtlabel">
                            <a> No Account Yet? </a>
                        </div>
                        <button class="button button-block button-outline button-white" ng-click="gotoregister()"> Sign Up </button>
                        <div class="txtlabel">
                            <a id="txtWht" ng-controller="TemrsController" ng-click="gotoTerms()"> Terms and Conditions </a>
                        </div>
                    </div>
                    <div class="col col-20"></div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
