<ion-view view-title="Vote" class="top-background2">


    <ion-header-bar align-title="left" class="bar-positive bg-gradint ">
        <button class="button  button-clear button-ligth" ng-controller="BackController" ng-click="myGoBackHome()">
            <i class="ion-ios-arrow-back" style="font-size:28px"> </i>
        </button>
        <h1 class="title">{{pageurl}}</h1>

    </ion-header-bar>

    <ion-content has-bouncing="false">

        <div class="row bule-fade no_padding">
            <div class="col col-33 no_padding"> </div>
            <div class="col no_padding">
                <div id="white">Vote in:
                    <span class="back-bg"> {{counter}} </span> &nbsp;:
                    <span class="back-bg"> {{countsec}} </span>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <img ng-src="img/assets/Logo + Vynil@2x.png" width="100%">



            </div>
            <div class="col">
                <h4 id="white" style="
    text-align: center;">{{riddmidname}}<h4>
                    

                <div>
                    <div class="item range range-positive" style="background-color: rgba(255,255,255,0); border: none;">
                        <input type="range" name="volume" min="0" max={{mediaDuration}} ng-model="mediaPostion">
                    </div>
                <span ng-click="playpause()"> <img ng-src="img/assets/Play Pause.png" style="margin-left: 35%;" width="30px" style= 'background-color: red'></span>
                </div>
           </div>
                    
  </div>
  <div class='row'>
  <div class="col col 20">
  </div>

    <div class="col">
       <h4 style="text-align: center;">  Select your option and hit vote </h4>
    </div>

  <div class="col col 20">
  </div>
  </div>
<form ng-submit="vote(choice)"> 

<div class="row">
    <div class="col col-10">

     </div>
     <div class="col">
            <ion-list>
            <p> <ion-radio class="votelist"   ng-model="choice" ng-value="'0'" > <span class="top"> "MEH"  </span> <span class="top-rigth"> O <sup>pt <sup>  </span>  <span class="top-rigth1">  <img   ng-src="img/assets/fire.png" width="19px"> </ion-radio> </span>  </p>
             
           <p> <ion-radio class="votelist"   ng-model="choice" ng-value="'1'"><span class="top"> Cool!  </span> <span class="top-rigth"> 1 <sup>pt <sup>  </span>  <span class="top-rigth1">  <img   ng-src="img/assets/fire.png" width="19px"></ion-radio> </p>
             
           <p> <ion-radio class="votelist"   ng-model="choice" ng-value="'5'"><span class="top"> Heated  </span> <span class="top-rigth"> 5 <sup>pt <sup>  </span>  <span class="top-rigth1">  <img   ng-src="img/assets/fire.png" width="19px"> </ion-radio> </p>
            <p>
              <ion-radio class="votelist" ng-model="choice" ng-value="'10'"><span class="top"> Tun up!  </span> <span class="top-rigth"> 10 <sup>pt <sup>  </span>  <span class="top-rigth1">  <img   ng-src="img/assets/fire.png" width="19px"></ion-radio> </p>
           <p>   
            <ion-radio class="votelist"   ng-model="choice"  ng-value="'15'"><span class="top"> Dis' Hot </span> <span class="top-rigth"> 15 <sup>pt <sup>  </span>  <span class="top-rigth1">  <img   ng-src="img/assets/fire.png" width="19px"></ion-radio> </p>
           <p> 
            <ion-radio class="votelist"   ng-model="choice"  ng-value="'20'"><span class="top"> It A BunUp!  </span> <span class="top-rigth"> 20 <sup>pt <sup>  </span>  <span class="top-rigth1">  <img   ng-src="img/assets/fire.png" width="19px"></ion-radio> </p>
          </ion-list>

     </div>
  <div class="col col-10">

     </div>

  </div>

  <div class="row">
    <div class="col col-10"> </div>
    <div class="col">    
       <button class="button button-block button-outline button-bule" ng-disabled="disable">
        VOTE NOW
       </button>
     </div>
    <div class="col col-10"> </div>
  </div>


</form>
   
  </ion-content>

  <ion-footer-bar class="bar bar-footer row">

    <div class="col nopadding">
     <button class="button button-full button-composer col" ng-click="gotocomposer()">
    &nbsp;
  </button>
</div>

   <div class="col nopadding">
     <button class="button button-full button-fav">
    &nbsp;
  </button>
</ion-footer-bar>


</ion-view>
