<ion-view view-title="HOME" class="winner-page">
    <ion-header-bar class="bar bar-header top-background">
        <button class="button button-light button-clear" ng-if="sreaching  != true" ng-click="issreaching()">
            <i class="ion-search"></i>
        </button>
        <h1 id="white" class="title">{{pageurl}}</h1>
        <div class="row" ng-if="sreaching">
            <div class="col col-90">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="$parent.searchText" style="color: black; height: 24px;" placeholder="Search">
                </label>
            </div>
            <button class="button button-light button-clear" ng-if="sreaching" ng-click="cancelsreaching()">
                Cancel
            </button>
        </div>
        <button class="button button-light button-clear" ng-if="sreaching  != true" ng-click="GotoSetting()">
            <i class="ion-navicon-round"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div id="winnin-container" class="row text-center">
            <div class="col col-10"></div>
            <div id="winnin-content" class="col col-80">
                <span class="text-center">
                <p id="congrats" class="congrats"> Congratulations </p>
                </span>
                <div id="winner-img" class="winner-img">
                    <div id="winner-image" class="text-center responsive-sm">
                        <!-- <img src="../img/assets/winner@2x.png" width="80%" /> -->
                    </div>
                    <div id="winnin-comp-name">
                        <p class="winnin-comp-name"> {{name}} </p>
                    </div>
                </div>
                <!-- End of winner img -->
                <div id="winnin-riddim" class="winnin-riddim">
                    <span class="winnin-riddim">
                        <p class="winnin-riddim-title">Winnin Riddim</p>
                     <p class="winnin-riddim-name"> {{Riddim}} </p>
                    </span>
                </div>
                <!-- End of name div -->
                <div id="play-winnin-riddim" class="play-winnin-riddim" ng-click="Play()">
                    <div class="text-center">
                        <img src="/img/assets/listen@2x.png" width="100%" />
                    </div>
                </div>
                <!-- end of play-winnin-riddim -->
                <!--
<div id="winnin-credit" class="winnin-credit">
    <span>
                   <p class="show-credit">
                  Pepsi Winning Riddim Tv Reality Show <br />
                       By: Sretlaw Digital Media Inc.
                   </p>

                    </span>
</div>
-->
            </div>
            <div class="col col-10">
            </div>
        </div>
        <!-- end of container -->
    </ion-content>
</ion-view>
