<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <ion-header-bar align-title="left" class="bar-positive bg-gradint">
            <button class="button button-ligth button-clear" ng-controller="BackController" ng-click="myGoBackVote()">
                <i class="ion-ios-arrow-back" style="font-size:28px"> </i>
            </button>
            <h1 class="title">{{pageurl}}</h1>

        </ion-header-bar>
        <h1 class="title">{{pageurl}}</h1>
    </ion-header-bar>
    <ion-content cache-view="false">
        <div class="view-wrapper">
            <div class="row comp-header">
                <div id="user-img">
                    <img ng-src="{{composer.ComposerProfilepic}}" alt="User Image" width="100%" class="u-img">
                </div>
                <div id="comp-name">
                    {{composer.Composername}}
                </div>
                <div id="comp-rank">
                    <p>COMPOSER RANK</p>
                </div>
            </div>
            <div class="row">ss
                <div id="vote-panel" class="col col-50 col-center responsive-md vote-panel">
                    <p id="ttp">
                        {{composer.TotalPoint}}
                    </p>
                    <p id="ttv"> Total Votes</p>
                </div>
                <div id="bio-panel" class="col col-50 bio-panel">
                    <p class="h3-header">BIO PAGE
                        <p>
                            {{composer.ComposerBio}}
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
    <div id="comp-social" class="bar bar-footer row comp-social ">
        <div class="col col-50 btn-comp-fb">
            <a class="button button-icon button-fb icon ion-social-facebook-outline" ng-click="sharetofacebook()"></a>
        </div>
        <div class="col col-50 btn-comp-twit">
            <a class="button button-icon icon ion-social-twitter-outline" ng-click="sharetotwitter()"></a>
        </div>
    </div>
</ion-view>
