<ion-view view-title="Home" class="top-background">
    <ion-header-bar align-title="left" class="bar-positive  no-background">
        <button class="button button-light button-clear" ng-if="sreaching  != true" ng-click="issreaching()">
            <i class="ion-search"></i>
        </button>

        <h1 class="title">{{pageurl}}</h1>

        <div class="row" ng-if="sreaching">
            <div class="col col-90">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="$parent.searchText" style="color: black; height: 24px;" placeholder="Search">
                </label>
            </div>

            <button class="button button-light button-clear" ng-if="sreaching" ng-click="cancelsreaching()">
                Cancel
            </button>

        </div>



        <button class="button button-light button-clear" ng-if="sreaching  != true" ng-click="GotoSetting()">
            <i class="ion-navicon-round"></i>
        </button>

    </ion-header-bar>

    <ion-content cache-view="false">


        <ion-list can-swipe="listCanSwipe">
            <ion-item ng-repeat="item in Riddmiddata | filter:searchText">
                <div class=" row list " ng-class="{ 'school' : item.RIddimtype===0 , 'raod' : item.RIddimtype===1 } ">

                    <div class="col col-75 " ng-click="gotovote(item.Riddimid);storeurl(item.TrackUrl) ">

                        <div class="row ">

                            <div class="col col-20 ">
                                <img ng-src="{{item.AlbumCover}} " width="100% " ng-if="item.AlbumCover!='blank' ">
                                <img ng-src="img/assets/Vinyl.png " width="100% " ng-if="item.AlbumCover=='blank' ">

                            </div>
                            <div class="col col-offset-10 col-center ">
                                <h2>{{item.Trackname}}</h2>
                                <h3>{{item.Composername}}</h3>
                            </div>

                        </div>
                    </div>

                    <div class="col col-center col-offset-10 " ng-click="play(item.TrackUrl);select($index) ">

                        <img ng-if="$index == selected" ng-src="{{url}} " width="100% ">

                        <img ng-if="$index != selected" ng-src="{{url1}} " width="100% ">


                    </div>

                </div>


                <ion-option-button>

                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
