<ion-view view-title="Home" class="login-background">

    <ion-content scroll="false">
        <div class="view-wrapper">
            <div id="index" class="row">
                <div class="col col-25"> </div>
                <div class="col col-50">
                    <a class="button button-block button-outline  button-fb" ng-click="fbLogin()">Facebook</a>
                </div>
                <div class="col col-25"> </div>
            </div>
            <div class="row">
                <div class="col col-30"> </div>
                <div class="col">
                    <a id='white'> <img src="img/assets/Line.png" width="100%"> </a>
                </div>
                <div class="col col-30"> </div>
            </div>
            <div class="row">
                <div class="col col-25"> </div>
                <div class="col col-50" style="text-align: center;">
                    <a class="button button-block button-outline button-white" ng-click="gotoLogin()">Login</a>
                    <a id='white' ng-click="gotoregister()"> Create an Account </a>
                </div>
                <div class="col col-25">
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row tos">
                <div id="tos" class="col " style="text-align: center;">
                    <br/>
                    <br/>
                    <br/>
                    <a id="white" ng-controller="TemrsController" ng-click="gotoTerms()"> Terms and Conditions </a>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
