<ion-view view-title="Register" class="login-background">

    <ion-content class="show-background">
        <button class="button button-clear button-ligth " ng-controller="BackController" ng-click="myGoBackindex()">
            <i class="ion-close">  </i>
        </button>
        <div class="view-wrapper">
            <form name="RegisterForm" ng-submit="doregister()">
                <div class="row">
                    <div class="col col-10"></div>
                    <div id="txtcacc" class="col col-80">
                        <p id="white1"> Create Account </p>
                    </div>
                    <div class="col col-10"></div>
                </div>
                <div class="row">
                    <div class="col col-10"> </div>
                    <div class="col col-80">
                        <div class="list signupbox">
                            <label class="item item-input item-floating-label" id="itemfrom">
                                <span class="input-label">First Name</span>
                                <input type="text" name="fname" placeholder="First Name" ng-model="registerData.first_name" required>
                                <span style="color:red;font-size: 10px;" ng-show="RegisterForm.fname.$dirty && RegisterForm.fname.$invalid">     
                                 <span ng-show="RegisterForm.fname.$error.required">
                                First Name  is required.</span>
                                </span>
                            </label>
                            <label class="item item-input item-floating-label" id="itemfrom">
                                <span class="input-label">Last Name</span>
                                <input type="text" name="lname" placeholder="Last Name" ng-model="registerData.last_name" required>
                                <span style="color:red;font-size: 10px;" ng-show="RegisterForm.lname.$dirty && RegisterForm.lname.$invalid">     
                                 <span ng-show="RegisterForm.lname.$error.required">
                                Last Name  is required.</span>
                                </span>
                            </label>
                            <label class="item item-input item-floating-label" id="itemfrom">
                                <span class="input-label">Email</span>
                                <input type="email" name="email" ng-model="registerData.email" placeholder="Email" required>
                                <span style="color:red; font-size:9px" ng-show="RegisterForm.email.$dirty && RegisterForm.email.$invalid">     
                                 <span ng-show="RegisterFormemail.$error.required">
                                Email is required.</span>
                                <span ng-show="RegisterForm.email.$error.email">Invalid email address.</span>
                                </span>
                                <span style="color:red; font-size:9px" ng-repeat="error in errors"> {{error}} </span>
                            </label>
                            <label class="item item-input item-floating-label" id="itemfrom">
                                <span class="input-label">Password</span>
                                <input type="password" name="password" placeholder="Password" ng-model="registerData.password" required>
                                <span style="color:red;font-size:9px" ng-show="RegisterForm.password.$dirty && RegisterForm.password.$invalid">     
                                 <span ng-show="RegisterForm.password.$error.required">
                               Password is required.</span>

                                </span>
                            </label>
                            <label class="item item-input item-floating-label" id="itemfrom">
                                <span class="input-label">Confrim Password</span>
                                <input type="password" name="cpassword" placeholder="Confrim Password" ng-model="registerData.password_confirm" required>
                                <span style="color:red;font-size:9px" ng-show="RegisterForm.cpassword.$dirty && RegisterForm.cpassword.$invalid">     
                                 <span ng-show="RegisterForm.cpassword.$error.required">
                                Confrim Password is required.</span>

                                </span>
                                <span style="color:red; font-size:9px" ng-repeat="error in perrors"> {{error}} </span>
                            </label>
                        </div>
                        <div id="txtlegal" class="legal">
                            <p id="white1" ng-controller="TemrsController" ng-click="gotoTerms()"> By Signing up you agree to our <a> Terms and Policies  </a> </p>
                        </div>
                    </div>
                    <div class="col col-10"> </div>
                </div>
                <div class="row">
                    <div class="col col-20"> </div>
                    <div id="btnsignup" class="col col-60">
                        <button class="button button-block button-outline button-white" ng-disabled="RegisterForm.password.$invalid ||
  RegisterForm.email.$dirty && RegisterForm.email.$invalid || RegisterForm.fname.$dirty && RegisterForm.fname.$invalid ||  RegisterForm.lname.$dirty && RegisterForm.lname.$invalid || RegisterForm.cpassword.$dirty && RegisterForm.cpassword.$invalid">
                            Sign Up
                        </button>
                    </div>
                    <div class="col col-20"> </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
