<ion-view view-title="Home">
    <ion-header-bar align-title="left" class="bar-positive bg-gradint">
        <button class="button button-light button-clear" ng-if="sreaching  != true">

        </button>

        <h1 class="title">{{pageurl}}</h1>




        <button class="button button-light button-clear" ng-click="goback()">
            <i class="ion-navicon-round"></i>
        </button>

    </ion-header-bar>

    <ion-content>


        <div class="bg-red-gradaint padding">

            <div class="row">
                <div class="col col-80">
                    <h3 id="white"> Welcome!: {{Name}} </h3> </div>


                <div class="col col-20">
                    <span> <img ng-src='{{Profile}}'> </span> </div>
            </div>

            <h5 id="white"> Email: {{Email}}</h5>


            <h1 id="white"> NOTIFICATIONS </h1>

            <p>Some apps like email or social media apps send frequent notifications, which might affect battery life. If you have Show on Lock Screen turned on for notifications, this also might affect battery life. To turn off or change notifications, go to Settings > Notifications and select the app. </p>

        </div>

        <ul class="list">

            <li class="item item-toggle">
                Connect To Facebook
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="facebook">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle">
                Riddim AutoStrat
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>


            <li class="item item-toggle">
                Show Eliminated Riddims
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>



        </ul>




        <h4 style="
    text-align: center;">    APP VERSION {{Version}} <h4>
            
        <h6 style="
    text-align: center;">   developed by Kovec Media  <h6>




    </ion-content>
</ion-view>
