<ion-tabs class="tabs-icon-top tabs-striped tabs-positive">

    <ion-tab class="home-tab" title="Road Tour" href="#/tab/home">
        <ion-nav-view name="home-tab"> </ion-nav-view>
    </ion-tab>

    <ion-tab id="home-tab" title="Iconic Riddims" href="#/tab/iconic">
        <ion-nav-view name="fav-tab"> </ion-nav-view>
    </ion-tab>


</ion-tabs>

</ion-view>
