@font-face {
    font-family: 'SignPainter';
    src: url("../fonts/SignPainter.otf");
    src: url("../fonts/SignPainter.otf") format("opentype");
}
@font-face {
    font-family: 'SanFran-H';
    src: url("../fonts/SF-UI-Display-Heavy.otf");
    src: url("../fonts/SF-UI-Display-Heavy.otf") format("opentype");
}
@font-face {
    font-family: 'SanFran-SB';
    src: url("../fonts/SF-UI-Display-Semibold.otf");
    src: url("../fonts/SF-UI-Display-Semibold.otf") format("opentype");
}
@font-face {
    font-family: 'SanFran-L';
    src: url("../fonts/SF-UI-Display-Light.otf");
    src: url("../fonts/SF-UI-Display-Light.otf") format("opentype");
}

/***********************************************************
                Media Queries Begin
***********************************************************/


/*
@media only screen and (max-width: 320px) {
    #winner-image {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        background: url("../img/assets/winner@2x.png") no-repeat;
        background-position: center center;
        background-size: cover;
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        margin: 10px auto;
    }
}
*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    p.congrats {
        color: coral;
    }
}

/*************** Kevonia's CSS Nightmare Begin here ****************/

.code {
    display: inline-block;
    vertical-align: top;
}
.bg-red-gradaint {
    background: rgba(248, 80, 50, 1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(100%, rgba(138, 12, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(138, 12, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 80, 50, 1) 0%, rgba(138, 12, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#8a0c00', GradientType=0);
    color: white;
}
.bg-gradint {
    background: rgba(75, 75, 232, 1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(75, 75, 232, 1)), color-stop(23%, rgba(65, 86, 231, 1)), color-stop(100%, rgba(32, 124, 229, 1)));
    background: -webkit-linear-gradient(left, rgba(75, 75, 232, 1) 0%, rgba(65, 86, 231, 1) 23%, rgba(32, 124, 229, 1) 100%);
    background: linear-gradient(to right, rgba(75, 75, 232, 1) 0%, rgba(65, 86, 231, 1) 23%, rgba(32, 124, 229, 1) 100%);
}
.votelist {
    font-size: 10px !important;
    text-align: center;
    font-weight: bolder;
    border-style: none;
    height: 30px;
    border-radius: 5px;
}
.top {
    position: absolute;
    top: 0%;
    font-size: 19px;
    right: 40%;
    text-align: right;
}
.top-rigth {
    position: absolute;
    top: 0%;
    right: 15%;
    font-size: 19px;
}
.top-rigth1 {
    position: absolute;
    top: 0%;
    right: 5%;
}
.back-bg {
    background: #000;
    color: white;
    padding: 2px;
}
.top-background {
    background: url("../img/assets/background@2x.png") no-repeat fixed top;
    background-size: 100% 17%;
}
.top-background2 {
    background: url("../img/assets/Rectangle 115@2x.png") no-repeat fixed top;
    background-size: 100% 38%;
}
.no_padding {
    padding: 0px;
}
.bule-fade {
    background: #14A5DD;
}
.bule-fade div {
    opacity: 0.85;
}

/* WRAPPER EDITING FOR FACEBOOK PAGE STARTS HERE */

.wrapper {
    position: absolute;
    top: 45%;
}
item2 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.no-background {
    background-color: transparent !important;
}
.tabs {
    background-color: transparent !important;
}
.show-background {
    background: black;
    opacity: 0.8;
}
.signupbox {
    color: white !important;
}
#itemfrom {
    border-style: hidden;
    border-bottom: solid #ffF;
    border-bottom-width: 1px;
}
.school {
    background: #7eD321;
}
.line {
    background: url("../img/assets/Line.png") no-repeat fixed center;
    background-size: 100% 100%;
}
.button-white {
    border-color: #FFF !important;
    background: transparent;
    color: #FFF !important;
}
.button-bule {
    border-color: #14A5DD !important;
    color: #14A5DD !important;
}
.button-fb {
    border-color: #3b5998 !important;
    background: #3b5998 !important;
    color: #FFF !important;
}
.button-fb.activated {
    border-color: #8b9dc3 !important;
    background: #8b9dc3 !important;
}
.button-bule.activated {
    border-color: #14A5DD !important;
    background: #14A5DD !important;
    color: #FFF !important;
}
.button-white.activated {
    border-color: #003399 !important;
    background: #003399 !important;
}
.button-composer {
    background: url("../img/assets/Composer Profile@2x.png") center;
    background-size: cover;
}
.button-composer.activated {
    background: #003399 !important;
}
.button-fav {
    background: url("../img/assets/Favs.png") center;
    background-size: cover;
}
.button-fav.activated {
    background: #912CEE !important;
}
.right {
    float: right;
    padding: 0px;
    width: 50% !important;
}
.left {
    float: left;
    padding: 0px;
    width: 50% !important;
}
#white {
    color: #FFF;
    white-space: normal;
}
#white1 {
    color: #FFF;
    white-space: normal;
}
.bar-footer {
    padding: 0px;
}
.imgsize {
    width: 100%
}
input[type="text"],
input[type="password"],
input[type="email"] {
    color: #FFF;
    text-align: center;
    height: 24px;
}
.radio-icon {
    display: none;
}
.item-content,
.item-complex .item-content {
    position: relative;
    z-index: 2;
    padding: 0px;
    border: none;
    background-color: #fff;
}
.item-radio input:checked + .radio-content .item-content {
    background: url("../img/assets/Btn - point -1@2x.png");
    background-size: cover;
    border-style: solid;
    border-color: gold;
}
.item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px;
    color: #FFF;
    border: none;
    background: url("../img/assets/Btn - point -1@2x.png");
    background-size: cover;
}
.input-label {
    color: #FFF !important;
    font-size: 10px;
}
#center {
    top: 5%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
}
#centerdown {
    top: 78%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
}
#centermid {
    top: 58%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
}
.title {
    font-weight: bold !important;
}
.tab-title {
    font-weight: bold !important;
    font-size: 15px
}
.button {
    border-radius: 0px;
}
.nopadding {
    padding: 0px !important;
}
.bar .title.title-left {
    text-align: center;
}
.item.tab-item-active {
    border-color: #ffc900;
}
div #index {
    margin-top: 80%;
}

/* ________________________________________ /
         CSS FOR COMPOSER PAGE
/ ________________________________________ */

.view-wrapper {
    width: 100vw;
    height: 100vh;
    //background-color: aqua;
}
.comp-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    background-image: url("../img/assets/HeaderC.png");
    background-size: cover;
    color: #fff;
}
div #user-img {
    width: 150px;
    height: 150px;
}
div#comp-name {
    position: absolute;
    left: 50%;
    top: 20%;
}
div#comp-name p {
    font-family: "SFText-regular, sans-serif";
    font-size: 2em;
    font-weight: 300;
}
div#comp-rank {
    position: absolute;
    left: 50%;
    top: 85%;
    color: #000;
}
div#comp-rank p {
    font-family: "SFText-regular, sans-serif";
    font-weight: 100;
}
#user-img {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 33px;
    background: #FFF;
    border: 3px solid #FFF;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    top: 15%;
    overflow: hidden;
}
div#vote-panel p {
    text-align: center;
    font-weight: bold;
    line-height: 1;
}
div#vote-panel p#ttp {
    margin-top: 80%;
    font-size: 4rem;
}
div#vote-panel p#ttv {
    //margin-top: 20%;
    font-size: 2rem;
}
.vote-panel {
    position: fixed;
    top: 25%;
    height: 50vh;
    color: #fff;
    background-image: url("../img/assets/ttvotes.png");
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 10%
}
.bio-panel {
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    color: #000;
    top: 30%;
    left: 50%;
}
.comp-social {
    text-align: center;
    line-height: inherit;
    font-size: 1.5em;
    color: #fff;
}
.btn-comp-fb {
    background: #3b5998;
}
.btn-comp-twit {
    background: #14A5DD;
}

/* ________________________________________ /
         CSS FOR login page PAGE
/ ________________________________________ */

a {
    text-decoration: none;
    color: #e44;
}
#login-form-field {
    margin-top: 10%;
}
#btnlogin {
    margin-top: 10%;
    //  background: #3b5998;
    color: #fff;
}
.txtlabel {
    margin: 20px 0px;
    text-align: center;
    color: #fff;
}
#signup-login {
    margin-top: 10%;
}

/* ________________________________________ /
         CSS FOR sign up page PAGE
/ ________________________________________ */

#txtcacc {
    margin-top: 15%;
    text-align: center;
}
#txtlegal {
    text-align: center;
    font-size: .9em;
}
#btnsignup {
    margin-top: 10%;
}

/* ________________________________________ /
         CSS FOR login page PAGE
/ ________________________________________ */

#home-tab {
    font-size: 200px;
    color: orange;
}

/********** Winner Page *************/

.winner-page {
    background-image: url(../img/assets/bg3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#winnin-content .congrats {
    color: black;
    font-family: 'SignPainter';
    font-size: 300%;
    margin-top: 5%;
}
p.winnin-riddim-name {
    font-size: 200%;
    font-family: "sanfran-h";
    white-space: nowrap;
}
p.winnin-riddim-title {
    font-size: 150%;
    font-family: "sanfran-l"
}
p.winnin-comp-name {
    font-size: 150%;
    font-family: "sanfran-sb"
}
div#winnin-content {
    position: absolute;
    top: 10%;
}
div#winner-img {
    position: relative;
    padding: 0;
    margin-top: 10%;
}
div#winnin-riddim {
    position: relative;
    margin-top: 10%;
}
div#play-winnin-riddim {
    position: relative;
    margin-top: 15%;
}
div#winnin-credit {
    position: relative;
    margin-top: 25%;
}
p.congrats {
    font-size: 1.5rem;
}
p.show-credit {
    font-size: .6rem;
    color: black;
    padding: 0px;
}
#winner-image {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    background: url("http://winninriddim.co/winner@2x.png") no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 10px auto;
}
